/* 
    Created on : 14.10.2013, 8:56:31
    Description: Постраничная навигация
    Author     : WEB
*/

.ui-pagination {
    
}

.ui-pagination a.ui-pagination-page {
    
}

.ui-pagination .ui-pagination-current {
    font-weight: bold;
    opacity: 1 !important;
    cursor: default;
    background: #000 !important;
}
