/* Header */

.ui-admin-header {
}
.ui-admin-header .ui-block-a {
    width: 33%;
}
.ui-admin-header .ui-block-b {
    width: 33%;
    margin: 10px 0 0 9px;
}
.ui-admin-header .ui-block-c {
    width: 33%;
}
.ui-admin-header .ui-block-c a#clock {
    width: 90px;
    padding: 7px 2px 5px 2px;
    display: inline-block;
    vertical-align: bottom;
}
.ui-admin-header .ui-block-a a#login {
    width: 185px;
    text-align: left;
}
.ui-admin-header .ui-block-a a#login span:nth-child(2) {
    position: relative;
    bottom: 3px;
}

.ui-admin-header .ui-block-c a#clock img {
    position: relative;
    top: 3px;
}
.ui-admin-header .ui-admin-nav-btn {
    width: 39px;
    display: inline-block;
}

.ui-admin-header .ui-admin-logo {
    margin: 0 0 0 100px;
}

/* Body */


/* Users Control */

.ui-grid-d.ui-items .ui-block-a {
    width: 7%;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;

}
.ui-grid-d.ui-items .ui-block-b {
    width: 16%;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;

}
.ui-grid-d.ui-items .ui-block-c {
    width: 7%;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;

}
.ui-grid-d.ui-items .ui-block-d {
    width: 30%;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;

}
.ui-grid-d.ui-items .ui-block-e {
    width: 40%;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
}

.ui-admin-body .ui-hover-title, .ui-items-body .ui-hover-title {
    text-shadow: 1px 1px 1px #c7cdef;
    text-transform: uppercase;
    text-align: center;
    background: black;
    border: 1px solid #000;
    border-radius: 4px;
    opacity: 0.7;
    padding: 2px;
}
.ui-admin-body .ui-block-a {
    width: 55%;
}

.ui-admin-body .ui-block-b {
    width: 45%;
}
.ui-admin-body .ui-block-b .ui-info-content {
    margin: 1em 0;
    border: 1px solid #999;
    -moz-border-radius: 5px /*{global-radii-blocks}*/;
    -webkit-border-radius: 5px /*{global-radii-blocks}*/;
    border-radius: 5px /*{global-radii-blocks}*/;  
    display: block;
}

.ui-admin-body .ui-block-b .ui-info-content > h3 {
    background: #c7cdef;
    color: #00000F;
    font-weight: normal;
    margin: 0;
    opacity: 0.7 !important;
    overflow: visible;
    text-align: left;
    border-width: 0;
    border-top-width: 1px;
    padding: .7em 15px;   
    font-size: 18px;
}
.ui-admin-body .ui-block-b .ui-info-content > p {
    padding: .7em 15px;    
}
.ui-admin-body .ui-block-a .ui-main-menu {
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;    
}
.ui-admin-body .ui-block-a .ui-main-menu li {
   background: none;
   display: inline-block;
   width: 32%;
   border: none;
   opacity: 0.9 !important;
}
.ui-admin-body .ui-main-menu li .ui-btn-inner.ui-li {
    border: none !important;
}
.ui-admin-body .ui-block-a .ui-admin-item {
    opacity: 0.9 !important;
    padding: 0 !important;
    margin: 0;
}
.ui-admin-body .ui-block-a .ui-admin-item img {
    float: left;
}
.ui-admin-body .ui-block-a .ui-admin-item .ui-btn-inner {
    padding: 5px;
    white-space: normal;
            
}
.ui-admin-body .ui-block-a .ui-admin-item span:nth-child(1) {
   font-weight: bold;
    display: list-item;
}
.ui-admin-body .ui-block-a .ui-admin-item span:nth-child(2) {
    display: list-item;
    font-style: italic;
    font-size: 13px;
    font-weight: normal;
    overflow: visible;
    height: 65px;
}
.ui-admin-body .ui-block-a .ui-admin-item .ui-menu-description {
    float: right;
    width: 60%;    
    text-align: left;
}
.ui-admin-body .ui-admin-top {
    
}

.ui-admin-body .ui-admin-bottom {
    
}